<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Order</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Create New Order</h1>
<form action="#" th:action="@{/orders}" th:object="${order}" method="post">
    <label for="customerId">Customer ID:</label>
    <input type="text" id="customerId" name="customerId" th:field="*{customerId}" required />
    <br/><br/>

    <label for="orderDetails">Order Details:</label>
    <input type="text" id="orderDetails" name="orderDetails" th:field="*{orderDetails}" required />
    <br/><br/>

    <button type="submit">Create Order</button>
</form>

<br/><br/>
<a href="/orders/list">View All Orders</a>
</body>
</html>
